VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=chatapp
VITE_KEYCLOAK_CLIENT_ID=chatapp-frontend

VITE_USER_SERVICE_URL=http://localhost:8081
VITE_CHAT_SERVICE_URL=http://localhost:8082
VITE_NOTIFICATION_SERVICE_URL=http://localhost:8083
